html {
  scroll-behavior: smooth;
  // scroll-padding-top: calc(var(--header-height) + 8px);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
  font-family: var(--font-family-base);
  line-height: var(--line-height-body);
  background: var(--bg-page);
  color: var(--text-primary);
}

.main {
  flex: 1;
}