.hero{
    display: flex;
    align-items: center;
    min-height: 40rem;
    padding: clamp(1rem, 20.36vw - 3.77rem ,6rem);
    border-radius: 2.5rem;
    background-image: url('../../assets/images/hero/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    color: var(--text-inverse)
}


.hero__inner{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: flex-start;
    width: min(33.75rem, 100%);
}