:root{
    --color-cream: #e1d4c9;
    --color-latte: #b0907a;
    --color-taupe-light: #c1b6ad;
    --color-taupe: #665f55;
    --color-charcoal: #403f3d;
    --color-espresso: #292826;

    --color-charcoal-80: #403f3dcc;
    --color-espresso-80: #292826cc;
    }