:root {
  --font-size-h1: 4.5rem;
  --font-size-h2: 3.75rem;
  --font-size-h3: 1.5rem;
  --font-size-body: 1rem;
  --font-size-caption: 0.625rem;
  --font-size-link: 1rem;

  --line-height-heading-h1: 1.05;
  --line-height-heading: 1.25;
  --line-height-body: 1.5;
  --line-height-caption: 1.4;

  --font-weight-semi-bold: 600;
  --font-weight-regular: 400;

  --font-style-accent: italic;

  --font-family-base: 'Inter', system-ui, sans-serif;

}